@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --cor-primaria:  rgb(255, 0, 0);
    --cor-secundaria: rgb(0, 0, 0);
    --cor-hover: rgb(0, 0, 0);
    font-family: 'Titan One', cursive;
}

.cabecalho {
    height: 60px;
    background-color: var(--cor-primaria);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home a img {
    width: 40px;
}

.menu ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 18px;
}

.menu ul li a:hover {
    color: var(--cor-hover);
}

.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 80px;
    background-color: var(--cor-primaria);
}
.redes-sociais {
    display: flex;
    gap: 15px;
}
.redes-sociais a img{
    width: 50px;
}

.informacoes-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}